body{
    margin: 0;
    padding: 0px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

/*header*/

header{
    display: flex;
    padding: 1em 1em 0em 1em;
    border-bottom: darkblue  5px solid ;
}

header .logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .nav{
    width: 70%;
    height: auto; 
}

header ul{
    height: 104px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
}

header li{
    list-style: none;
    font-weight: 900;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

header li:hover{
    cursor: pointer;
    transition: ease 0.2s;
    border-bottom: 5px solid darkblue;
}

/*article Politica*/

.politica{
    width: 60%;
    padding: 10px;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color:rgba(142, 158, 245, 0.18);
}

.politica p{
    text-align: justify;
    font-style: italic;
}

/*article productos*/

#productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5%;
}

#productos p{
    border-radius: 10px;
    background-color:rgba(142, 158, 245, 0.811);
    width:350px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 9px;
    position: absolute;
    top:50%;
    left: 5%;
    right: 5%;
}

#productos img{
    box-shadow: 9px 9px 20px black;
    transition: ease 0.8s;
    border-radius: 50%;
}

#productos img:hover{
    transform: scale(1.1);
    border-radius: 20px;
}

.pretina, .cinta, .etiqueta, .marquilla, .etiqueta2{
    position: relative;
    height: 370px;
}

/* caracteristicas*/
#caracteristicas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:rgba(142, 158, 245, 0.18);
}

.calidad, .tiempo{
    margin: 0% 5%;
}

.Hcalidad, .Htiempo{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    border-bottom: none;
    font-size: 5em;
}

#caracteristicas p{
    padding: 20px;
    text-align: center;
}

#caracteristicas p::first-line{
    font-size: 2em;
}











