body{
    margin: 0;
    padding: 0px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #fefefe;
}

hr{
    width: 30%;
    height: 2px;
    background-color: cornflowerblue;
    border: none;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

/*header*/
#header{
    background-color: #fefefe;
    display: flex;
    padding: 1em 1em 0em 1em;
    border-bottom: darkblue  5px solid ;
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 3
}

#header .logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .nav{
    width: 70%;
    height: auto; 
}

.nav ul{
    height: 104px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
}

.nav li{
    list-style: none;
    font-weight: 900;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.nav li:nth-last-of-type(1){
    display: none;
}


.nav li:hover{
    cursor: pointer;
    transition: ease 0.2s;
    border-bottom: 5px solid darkblue;
}

/* media nav */
#media{
    width: 100%;
    display: flex;
    justify-content: center;
    display: none;
}

#media ul{
    width: 100%;
    margin-top: 0px;
    padding: 0px;
}

#media ul li{
    background-color:rgba(70, 79, 135, 0.18);
    color: ivory;
    list-style: none;
    padding: 9px;
    text-align: center;
    font-size: 1.5em;
}


/*article Politica*/
#article{
    padding-top: 8em;
}

.politica{
    width: 60%;
    padding: 10px;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color:#dedede;
}

.politica p{
    text-align: justify;
    font-style: italic;
}

/*article productos*/
#productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5%;
}

#productos p{
    border-radius: 10px;
    background-color:#dededee5;
    width:350px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 9px;
    position: absolute;
    top:50%;
    left: 5%;
    right: 5%;
}

#productos img{
    box-shadow: 9px 9px 20px black;
    transition: ease 0.8s;
    border-radius: 50%;
}

#productos img:hover{
    transform: scale(1.1);
    border-radius: 20px;
}

.pretina, .cinta, .etiqueta, .marquilla, .etiqueta2{
    position: relative;
    height: 370px;
}

/* caracteristicas*/
#caracteristicas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#dedede;
}

.calidad, .tiempo{
    margin: 0% 5%;
}

.Hcalidad, .Htiempo{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    border-bottom: none;
    font-size: 5em;
}

#caracteristicas p{
    padding: 20px;
    text-align: center;
}

#caracteristicas p::first-line{
    font-size: 2em;
}

/* more products */
#more_products .MP_header {
    display: flex;
    justify-content: center;
    font-size: 2em;
    border: none;
    text-transform: capitalize;
}

#more_products .MP_header p{
    margin-bottom: 5px;
}

#more_products .MP_pretina, #more_products .MP_marquilla, #more_products .MP_etiqueta{
    width: 100%;
    display: flex;
    margin: 5% 1px;
}

#more_products img{
    border-radius: 5px;
}

.MP_img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 20px;
    width: 60%;
}

.MP_pretina aside, .MP_marquilla aside, .MP_etiqueta aside{
    width: 40%;
    margin: 5px 20px;
}
    
.MP_pretina aside div, .MP_marquilla aside div, .MP_etiqueta aside div{
    margin-top: 10px;
}

.MP_pretina aside img, .MP_marquilla aside img, .MP_etiqueta aside img{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
}

.MP_pretina aside p, .MP_marquilla aside p, .MP_etiqueta aside p{
    text-align: center;
}



/* formulario */
#form{
    height: 80vh;
    width: 100%;
    background-image: url(../img/telas.PNG);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

#form div{
    width: 50%;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px whitesmoke;
}

#form div::first-line{
    font-size: 3em;
}

#form div p:nth-last-of-type(1){
    font-size: 0.5em;
}

#contact{
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px; 
}

#contact input{
    margin: 10px auto;
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    font-size: 1em;
}

#contact input:nth-last-of-type(1){
    margin: 10px auto;
    width: 40%;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
}

/* footer */
footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #fefefe;
}

.Flogo{
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Flogo img{
    max-width: 140px;
    border-radius: 10px;
}

.Fcontact{
    width: 33.3%;
    text-align: center;
}

.Fapps{
    width: 33.3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Fapps i{
    display: flex;
    flex-wrap: wrap;
    font-size: 4em;
}

.Fapps i:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#contact input:nth-last-of-type(1):hover{
    cursor: pointer;
    transform: scale(1.1);
    text-decoration: underline;
}

/* responsive design */
@media(max-width:1100px){

    #header{
        position: static;
    }

    #article{
        padding-top: 0;
    }
    
    #more_products .MP_pretina, #more_products .MP_etiqueta{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 5% 1px;
    }

    #more_products .MP_marquilla{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin: 5% 1px;
    }

    .MP_pretina .MP_img, .MP_etiqueta .MP_img, .MP_marquilla .MP_img{
        width: inherit;
        display: flex;
        justify-content: center;
        margin: 10px 0px;
    }

    .MP_pretina .MP_img img, .MP_etiqueta .MP_img img, .MP_marquilla .MP_img img{
        width: 70%;
    }

    .MP_pretina aside, .MP_etiqueta aside, .MP_marquilla aside{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 10px 0px;
    }

    .MP_pretina aside div, .MP_etiqueta aside div, .MP_marquilla aside div{
        width: 50%;
    }

    .MP_pretina aside p, .MP_etiqueta aside p, .MP_marquilla aside p{
        width: 60%;
        margin: 5px 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .MP_pretina aside img, .MP_etiqueta aside img, .MP_marquilla aside img{
        width: 60%;
        height: 50%;
    }
} 

@media(max-width:807px){

    #header{
        position: static;
    }

    #article{
        padding-top: 0;
    }

    .MP_pretina aside img, .MP_etiqueta aside img, .MP_marquilla aside img{
        width: 70%;
        height: 40%;
    }

   #form{
        height: auto;
    }

    #form div{
        width: 100%;
    }

    #contact{
        width: 80%;
    }
    
    #contact input{
        background-color:rgba(142, 158, 245, 0);
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
    }

    #contact input:nth-last-of-type(1){
        border: solid 1px;
        border-radius: 5px;
        background-color: w;
    }
}

@media only screen and (max-width:513px){

    #header{
        position: static;
    }

    #header .logo{
        width: 100%;
    }

    #header .logo img{
        width: 50%;
    }

    .nav{
        width: 30%;
    }

    .nav ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
    }

    .nav li{
        display: none;
    }

    .nav li:nth-last-of-type(1){
        display: initial;
    }

    header .logo{
        width: 100%;
    }

    .nav{
        width: 30%;
    }

    .nav ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
    }

    .nav li{
        display: none;
    }

    .nav li:nth-last-of-type(1){
        display: initial;
    }

    #article{
        padding-top: 0;
    }

    .MP_pretina aside img, .MP_etiqueta aside img, .MP_marquilla aside img{
        width: 70%;
        height: 30%;
    }

    #productos img{
        width: 300px;
    }

    #productos img:hover{
        transform: scale(1.01);
        border-radius: 20px;
    }

    #productos p{
        width:280px;
        top:45%;
        left: 1%;
    }

    #more_products .MP_header {
        font-size: 1.8em;
    }

    #form{
        height: auto;
        font-size: 1em;     
    }
    
     #form div::first-line{
        font-size: 1.8em;
    }
        
    #form div p:nth-last-of-type(1){
        font-size: 0.3em;
     }

    footer{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        background-color: #fefefe;
    }

    footer .Flogo, .Fcontact, .Fapps{
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
